  run_name = "run"
  profile = false
  metadata = 'NO_FILE'
  platform = 'illumina'
  ncov_tools_version = '1.9.1'
  primer_scheme_name = 'V1200'
  primer_scheme_version = '4.0'
  completeness_threshold = 0.75
  update_pangolin = false

  artic-ncov2019 = https://github.com/BCCDC-PHL/artic-ncov2019/archive
